.App {
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  background-color: #282c34;
  font-size: calc(12px + 2vmin);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDoForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDoHeader {
  font-size: 5rem;
}

.textBar {
  padding: .75rem 0rem;
  width: 100%;
}

.addButton {
  /* padding: .5rem; */
  border: 1px solid grey;
  background: none;
  padding: 15px;
  color: grey;
  margin-top: 10px;
  font-size: 15px;
}

.addButton:hover {
  background-color: darkgray;
}


.toDoList {
  list-style: none;
  margin: 5rem 0 0 0;
  padding: 0;
}

.listItemBlock {
  display: flex;
  padding-top: 1rem;
}

.listItem {
  border: 1px solid grey;
  padding: 7px 12px;
}

.deleteButton {
  border: 1px solid grey;
  background: none;
  padding: 15px;
  color: grey;
  margin: 0 0 0 10px;
  font-size: 15px;
}

.deleteButton:hover {
  background-color: darkgray;
}
